body {
  margin: 0;
}

.headerpic {
  border-radius: 60%;
  height: 225px;
  width: 225px;
  margin-top: 5vh;
  margin-left: 10vh;
}

.pic {
  float: left;
}

.header-info {
  margin-top: 6vh;
  margin-left: 5vh;
  float: left;
  font-family: 'Fjalla One', sans-serif;
}

#name {
  font-size: 35px;
}

#cs-student {
  font-size: 25px;
  color: rgba(9, 9, 10, 0.356);
}

#linkedin-pic{
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
}

#github-pic {
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
  margin-left: 7px;
}

#email-pic {
  width: 7vh;
  height: 5vh;
  border-radius: 5px;
  margin-left: 3px;
}

.header {
  top: 0%;
  height: 300px;
  margin-left: calc(50% - 50vw);
  background: rgb(190, 243, 230)
  /** background: rgb(94, 197, 149); */
}

a {
  text-decoration: none;
}

#about-me-heading {
  font-family: 'Josefin Sans', sans-serif;
  opacity: 85%;
}

.about-me {
  display: block;
  float: left;
  width: 101vh;
  margin-top: 50px;
  margin-left: 11vh;
  background: rgb(253, 209, 209);
  padding: 2vh;
  border-radius: 5px;
}

#about-me-info {
  line-height: 4vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.skills {
  float: left;
  width: 300px;
  background: rgb(249, 245, 255);
  margin-right: 2vh;
  margin-top: 50px;
  margin-left: 70px;
  /* margin-left: 1070px; */
  padding: 2vh;
  margin-bottom: 1vh;
  border-radius: 5px;
}

#skills-heading {
  font-family: 'Josefin Sans', sans-serif;
  opacity: 85%;
}

#skills-about {
  line-height: 4vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.level {
  width: 100%; 
  background-color: #ddd;
}
.lang-level {
  text-align: right; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  color: white; 
}

.python {
  width: 60%; background-color: #4CAF50;
}

#lang, .lang-level {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}


.java {
  width: 50%; background-color: #4CAF50;
}

.ocaml {
  width: 70%; background-color: #4CAF50;
}

.htmlcss {
  width: 70%; background-color: #4CAF50;
}

.js {
  width: 50%; background-color: #4CAF50;
}

.game {
  width: 60%; background-color: #4CAF50;
}

.web {
  width: 50%; background-color: #4CAF50;
}
